node_modules
.env
.DS_Store
/backend/node_modules
/frontend/node_modules
/backend/.env
/backend/.env.local
/backend/.env.development
/backend/.env.production
/backend/.env.test
/backend/.env.test.local
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production
/frontend/.env.test
/frontend/.env.test.local
.gitignore